.signup{
    width: 30%;
   
    /* border: 1px solid; */
    margin: auto;
    height: 700px;
    margin-top: 100px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    padding: 40px;
}

.signup1{
    width: 30%;
   
    /* border: 1px solid; */
    margin: auto;
    height: 500px;
    margin-top: 100px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    padding: 40px;
}

.login{
    width: 30%;
   
    /* border: 1px solid; */
    margin: auto;
    height: 700px;
    margin-top: 100px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    padding: 40px;
}
.forgotEmail{
    width: 40%;
    height: 400px;
    margin: auto;
    margin-top: 100px;
}
.homeBox1{
    width: 40%;
    margin-left: 560px;
    margin-top: 250px;
   color: #1E2124;
  font-size: 20px;
  font-weight: 550;
}

.homeBtn{
    background-color:#00BF6F ;
    color: #FFFFFF;
    padding: 28px 40px;
    margin-top: 60px;
}
.homeBox2{
  width: 80%;
  margin: auto;
  border: 1px solid #EDF2F7;
  height: 200px;
  margin-top: 270px;
  background-color: #EDF2F7;
}
.homeHeading{
   display: flex;
   margin: auto;
   margin-left: 500px;
   margin-top: 50px;
   font-size: 30px;
}
.homeBtn1{
    display: inline-block;
    margin-left: 190px;
    margin-top: 40px;
    font-size: 30px;
 }
 .simplegrid{
    width:80%;
    display:flex;
    margin: auto;
    margin-top: 50px;
   
 }

 .homeHeading1{
    display: flex;
    margin: auto;
    margin-left: 630px;
    margin-top: 100px;
    font-size: 30px;
    
 }

 .simplegrid1{
    width:80%;
    display:flex;
    margin: auto;
    margin-top: 100px;
    /* border:1px solid; */
    
 }
 .Image{
    display: block;
    margin: auto;
 }

 
 